<%
    local ktwifi = require "ktapi.ktWifi"
    local json = require "ktapi.ktJson"

    local remote_addr = luci.http.getenv("REMOTE_ADDR")
    local wifi5G = json.Encode(ktwifi.get_wifi_net("5G"))

    include("top")
%>

<div class="connect">
    <div class="connect_1">
        <ul>
            <li>
                <a href="<%=luci.dispatcher.build_url("admin", "connect", "connect_list")%>">
                    <span><img src="<%=resource%>/images/connect_03.png" alt=""></span>
                    <em id="connect-icon">连接设备</em>
                </a>
            </li>

            <li>
                <a href="<%=luci.dispatcher.build_url("admin", "connect", "disabledev")%>">
                    <span><img src="<%=resource%>/images/connect_07.png" alt=""></span>
                    <em>禁用设备</em>
                </a>
            </li>

            <li>
                <a href="<%=luci.dispatcher.build_url("admin", "connect", "limiting")%>">
                    <span><img src="<%=resource%>/images/connect_07.png" alt=""></span>
                    <em>限速设置</em>
                </a>
            </li>
        </ul>
    </div>

    <div class="connect_2">
        <div class="connect_2_1">
            <p>连接设备</p>
        </div>

        <div class="connect_2_2">
            <div class="devmenucont">
                <ul class="devmenu">
                    <li class="current" style="margin-left:45px;">全部</li>
                    <li>有线接入设备</li>
                    <li>2.4G接入设备</li>
                    <%if wifi5G ~= "[]" then%>
                    <li>5G接入设备</li>
                    <%end%>
                    <li>离线设备</li>
                </ul>
                <h3 class="num-cont">当前个数为： <span id="activeDeviceNum"></span> 台</h3>
            </div>
            <div id="connect-content" class="connect-content">
                <div class="connect_2_3">
                    <ul>
                        <li class="contdev1">基本信息</li>
                        <li class="contdev2">当前网速</li>
                        <li class="contdev3">限速白名单</li>
                        <li class="contdev4">限速值</li>
                        <li class="contdev5">操作</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="<%=resource%>/js/organization.js"></script>
<script type="text/javascript" src="<%=resource%>/js/validators.js"></script>
<script type="text/javascript">
    var T_alert = new Toast();
    T_alert._css.lineHeight = "40px";

    var timer;

    //连接设备tab页
    function onChoose(ele) {
        var source = $(".connect_2_4").attr("data-source");

        $(".connect_2_4").hide();        
        $(".connect_2_4[data-source = '"+ ele +"']").show();

        var num = $(".connect_2_4[data-source = '"+ ele +"']").length;

        if (ele == "all") {
            $(".connect_2_4").show();
            num = $(".connect_2_4").length;
        }

        $("#activeDeviceNum").html(num);
    }

    //编辑限速
    function editSpeed(ele){
        //停止页面刷新
        stopTimer();
        var i = $(".editspeed").index($(ele));
        var upspan = $(".connect_2_4").eq(i).find(".connect_2_4_6").find('span:first');
        var downspan = $(".connect_2_4").eq(i).find(".connect_2_4_6").find('span:last');
        var up = upspan.find('.editupspeed').html();
        var down = downspan.find('.editdownspeed').html();
        upspan.empty();
        downspan.empty();
        upspan.append("<input type='text' value='"+up+"' class='upSpeed dev-input'/>KB/s");
        downspan.append("<input type='text' value='"+down+"' class='downSpeed dev-input'/>KB/s");
        $(ele).hide();
        $(ele).siblings('.savespeed').show();
    }

    //手机端点击查看
    function showConnectDown(ele){
        //停止页面刷新
        stopTimer();
        var down = $(ele).parent(".contup").siblings(".contdown");
        if(down.css("display") == "none"){
            down.slideDown();
        }else{
            down.slideUp();
        }

    }

    function bandwidthLabel(by) {
        var kby =(by / 1024).toFixed(2);

        var uby = '<%:KB/s%>';

        if (kby >= 1024)
        {
            uby = '<%:MB/s%>';
            kby = (kby / 1024).toFixed(2);
        }

        //return String.format("%f %s",kby.toFixed(2), uby);
        return kby + " " + uby;
    }

    //渲染全部数据
    function requestData(data){
        $(".connect-content .connect_2_4").remove();

        $.each(data,function(i,ele){

            if (ele.is_black == "1") return true;
            if (ele.ipaddr == "") return true;

            var deviceName = ele.hostname;
            var mac = ele.macaddr;
            var ip = ele.ipaddr;
            var upSpeed = ele.up_rate;
            var downSpeed = ele.down_rate;
            var isWhiteList = ele.is_vip;
            var upSpeedLimit = ele.up_quota;
            var downSpeedLimet = ele.down_quota;
            var macsource = ele.mac_source;
            var vendor = ele.vendor;



            var $con24 = $('<div class="connect_2_4" data-source="'+ macsource +'"></div>');
            if(macsource == "offline"){
                $con24 = $('<div class="connect_2_4" style="background-color:#fcfcfc;" data-source="'+ macsource +'"></div>');
            }

            var imageName = Organizations[vendor];
            if (!imageName) {
                if (macsource == "LAN") {
                    imageName = "lan.png";
                } else {
                    imageName = "wireless.png";
                }
            }

            var $contup = $('<div class="contup"></div>');
            var $contdown = $('<div class="contdown"></div>');
            var $contmiddle = $('<div class="contmiddle" onclick="showConnectDown(this);">点击设置</div>')

            if (ip == "<%=remote_addr%>") {
                var con241 = '<div class="connect_2_4_1"><span class="benji">本机</span><img style="margin:0 25px 25px;" src="<%=resource%>/images/organiz/' + imageName + '" alt=""></div>';
            } else {
                var con241 = '<div class="connect_2_4_1"><img src="<%=resource%>/images/organiz/' + imageName + '" alt=""></div>';
            }

            var $con242 = $('<div class="connect_2_4_2"></div>');
            var ul242 = '<ul><li class="decname">' + deviceName + '</li><li>' + mac + '</li><li>' + ip + '</li></ul>';
            $con242.append(ul242);

            var $con2431 = $('<div class="connect_2_4_3"></div>');
            var ul2431 = '<ul><li><img class="decimg" src="<%=resource%>/images/speed_up.png"><span class="upstyle"><em>' + bandwidthLabel(upSpeed) + '</em></span></li><li><img class="decimg" src="<%=resource%>/images/speed_down.png"><span class="downstyle"><em>' + bandwidthLabel(downSpeed) + '</em></span></li></ul>';
            $con2431.append(ul2431);

            var $con2442 = $('<div class="connect_2_4_4"></div>');
            var $con244P = $('<p class="connect_2_4_4_p">限速白名单</p>');
            var div2442 = '';

            if(isWhiteList){
                div2442 = '<div class="switch open1 switch-connect" onclick=switchWhiteList(this);><div class="slide open2"></div></div>';
            }else{
                div2442 = '<div class="switch close1 switch-connect" onclick=switchWhiteList(this);><div class="slide close2"></div></div>';
            }

            $con2442.append($con244P).append(div2442);

            var $con246 = $('<div class="connect_2_4_6"></div>');
            var ul246 = '<ul><li><span class="upstyle"><em class="editupspeed">' + upSpeedLimit / 1024 + '</em>KB/s</span></li><li><span class="downstyle"><em class="editdownspeed">' + downSpeedLimet / 1024 + '</em>KB/s</span></li></ul>';
            $con246.append(ul246);

            var $con245 = $('<div class="connect_2_4_5"></div>');
            var ul245 = "<ul><li class='devbtn'><button class='editspeed' onclick=editSpeed(this);>编辑限速</button><button class='savespeed' onclick=trafficControl(this);>确定</button></li><li class='devbtn'><button class='offline' onclick=linkControl(this);>禁止上网</button></li></ul>";
            $con245.append(ul245);

            $contup.append(con241).append($con242).append($con2431).append($contmiddle);
            $contdown.append($con2442).append($con246).append($con245);
            $con24.append($contup).append($contdown);

            $(".connect-content").append($con24);
        });

        var i = $(".devmenu li").index($(".current"));
        var str = "";
        switch(i){
            case 0 :
                str = "all";
                break;
            case 1 :
                str = "LAN";
                break;
            case 2 :
                str = "2.4G";
                break;
            case 3:
            <%if wifi5G ~= "[]" then%>
                str = "5G";
                break;
            case 4 :
            <%end%>
                str = "offline";
                break;
        }

        onChoose(str);
    }

    function getClientList() {
        //路由连接设备信息
        $.ajax({
            url: "<%=luci.dispatcher.build_url("admin", "connect", "getAllClientList")%>",
            data: {},
            success: function (data) {
                if (timer == 0) return false;

                var json1 = eval("("+data+")");
                requestData(json1);
            }
        });
    }

    function startTimer() {
        getClientList();
        timer = setInterval("getClientList()", 6000);
    }

    function stopTimer() {
        clearInterval(timer);
        timer = 0;
    }

    $(function () {
        startTimer();

        $(".switch").bind("click",function () {
            var i = $(".switch").index($(this));
            //console.log(i);
            var isWhiteList = "";
            if ($(this).hasClass('open1')) {
                $(this).removeClass('open1');
                $(this).addClass('close1');
                $(this).children().removeClass('open2');
                $(this).children().addClass('close2');
                isWhiteList = 0;
            } else {
                $(this).removeClass('close1');
                $(this).addClass('open1');
                $(this).children().removeClass('close2');
                $(this).children().addClass('open2');
                isWhiteList = 1;
            }
        });

        $(".devmenu li").click(function(){
            $(".devmenu li").removeClass("current");
            $(this).addClass("current");
            var i = $(".devmenu li").index($(this));
            var str = "";
            switch(i){
                case 0 :
                    str = "all";
                    break;
                case 1 :
                    str = "LAN";
                    break;
                case 2 :
                    str = "2.4G";
                    break;
                case 3:
                <%if wifi5G ~= "[]" then%>
                    str = "5G";
                    break;
                case 4 :
                <%end%>
                    str = "offline";
                    break;
            }
            onChoose(str);
        });
    });

    //    限速发送页面数据请求
    function trafficControl(ele) {
        var i = $(".savespeed").index($(ele));
        var mac = $(".connect_2_4").eq(i).find(".connect_2_4_2").find("li").eq(1).html();
        var ip = $(".connect_2_4").eq(i).find(".connect_2_4_2").find("li").eq(2).html();
        var upspeed = $(".connect_2_4").eq(i).find(".connect_2_4_6").find('input:first').val();
        var downspeed = $(".connect_2_4").eq(i).find(".connect_2_4_6").find('input:last').val();

        if (!validators.limit(upspeed) || !validators.limit(downspeed)) {
            T_alert.show("上传速率格式不正确.(范围0 ~ 38400)",2000);
            return false;
        }

        if (ip.length < 1 || !validators.ipaddr(ip)) {
            T_alert.show("未获取客户端IP地址,请稍后再试",2000);
            return false;
        }

        var obj = {};
        obj.mac = mac;
        obj.ip = ip;
        obj.upSpeed = upspeed * 1024;
        obj.downSpeed = downspeed * 1024;
        $.ajax({
            url: "<%=luci.dispatcher.build_url("admin", "connect", "setQosIpRule")%>",
            data: obj,
            success: function (rsp) {
                var status = rsp.code;
                if (status == "0") {
                    T_alert.show('保存成功！',2000);
                } else {
                    T_alert.show("失败",2000);
                }

                //继续更新数据
                startTimer();
            },
            error: function (xhr, errText, errType) {
                T_alert.show(xhr.status + errType,2000);
            }
        })
    }

    //禁止上网操作
    function linkControl(ele){
        var c = confirm("是否确定禁用该设备的网络连接?");
        if (c == true) {
            var i = $(".offline").index($(ele));
            var mac = $(".connect_2_4").eq(i).find(".connect_2_4_2").find("li").eq(1).html();
            var ip = $(".connect_2_4").eq(i).find(".connect_2_4_2").find("li").eq(2).html();
            var obj = {};
            obj.mac = mac;
            obj.ip = ip;
            $.ajax({
                url: "<%=luci.dispatcher.build_url("admin", "connect", "addToBlackList")%>",
                data: obj,
                success: function (rsp) {
                    var status = rsp.status;
                    if (status == "0") {
                        T_alert.show('保存成功！',2000);
                    } else {
                        T_alert.show("失败",2000);
                    }
                },
                error: function (xhr, errText, errType) {
                    T_alert.show(xhr.status + errType,2000);
                }
            })         
        }
    }

    //限速白名单
    function switchWhiteList(ele){
        var i = $(".switch").index($(ele));
        var hd ;
        //console.log(i);
        if ($(ele).hasClass('open1')) {
            $(ele).removeClass('open1');
            $(ele).addClass('close1');
            $(ele).children().removeClass('open2');
            $(ele).children().addClass('close2');
            hd = "del";
        } else {
            $(ele).removeClass('close1');
            $(ele).addClass('open1');
            $(ele).children().removeClass('close2');
            $(ele).children().addClass('open2');
            hd = "add";
        }

        var mac = $(".connect_2_4").eq(i).find(".connect_2_4_2").find("li").eq(1).html();
        var ip = $(".connect_2_4").eq(i).find(".connect_2_4_2").find("li").eq(2).html();

        var obj = {};
        obj.mac = mac;
        obj.ip = ip;
        obj.handle = hd;
        $.ajax({
            url: "<%=luci.dispatcher.build_url("admin", "connect", "setVipList")%>",
            data: obj,
            success: function (data) {
                var status = data.status;
                if (status == "0") {
                    T_alert.show('保存成功！',2000);
                } else {
                    T_alert.show("失败",2000);
                }
            },
            error: function (xhr, errText, errType) {
                T_alert.show(xhr.status + errType,2000);
            }
        })
    }

</script>
</body>
<%include("bottom")%>
</html>

