<%include("top")%>
<div class="main">
    <div class="aside">
        <ul>
            <li>
                <a href="<%=luci.dispatcher.build_url("admin", "connect", "connect_list")%>">
                    <span><img src="<%=resource%>/images/connect_07.png"></span>
                    <em class="nav-em">连接设备</em>
                </a>
            </li>
            <li>
                <a href="<%=luci.dispatcher.build_url("admin", "connect", "disabledev")%>">
                    <span class="gyphon"><img src="<%=resource%>/images/connect_03.png"></span>
                    <em class="nav-icon">禁用设备</em>
                </a>
            </li>
            <li>
                <a href="<%=luci.dispatcher.build_url("admin", "connect", "limiting")%>">
                    <span><img src="<%=resource%>/images/connect_07.png"></span>
                    <em class="nav-em">限速设置</em>
                </a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="title">
            <h3>禁用设备</h3>
        </div>

        <div class="article">
            <div class="apple-info">
                <p id="sum"></p>

                <ul id="connect-dev">
                    <div class="clean"></div>
                </ul>

                <div class="clean"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="<%=resource%>/js/organization.js"></script>
<script type="text/javascript">
    var T_alert = new Toast();
    T_alert._css.lineHeight = "40px";

    function getBlackList() {
        $.ajax({
            url: "<%=luci.dispatcher.build_url("admin", "connect", "getBlackList")%>",
            data: {"CMD": "disableDeviceListSelect"},
            success: function (data) {
                var arrayData = data;
                var sum = arrayData.length;

                $("#sum").html("已禁用设备" + sum + "个");
                $("#connect-dev").empty();

                for (var i = 0; i < sum; i++) {
                    var mac = arrayData[i].macaddr;
                    var vendor = arrayData[i].vendor;

                    var imageName = Organizations[vendor];
                    if (!imageName) {
                        imageName = "disable.png";
                    }

                    $("#connect-dev").append("<li>" +
                            "<div class='apply-icon'><img src='<%=resource%>/images/organiz/" + imageName + "'></div>" +
                            "<div class='apply-con'>" +                            
                            "<h5>" + mac + "</h5>" +
                            "<p><input type='submit' name='"  + mac + "' value='解禁' class='enter' /></p>" +
                            "</div>" +
                            "</li>");
                }
            }
        });
    }

    $(function () {

        getBlackList();

        //解禁设备
        $("body").on("click",".enter",function() {
           // var mac = $(this).siblings(".apply-con h5").text();
            var mac = $(this).attr("name");

            $.ajax({
                url: "<%=luci.dispatcher.build_url("admin", "connect", "delFromBlackList")%>",
                data: {
                    mac: mac,
                },
                success: function (data) {
                    var datastr = data;
                    var status = datastr.status;
                    if (status == "0") {
                        T_alert.show('成功！',2000);
                        getBlackList();
                    } else {
                        T_alert.show("失败",2000);
                    }
                },
                error: function (xhr, errText, errType) {
                    T_alert.show(xhr.status + errType,2000);
                }
            })
        })
    })

</script>
<%include("bottom")%>
