<%
    local task = luci.util.exec("crontab -l | grep reboot | cut -d\" \" -f 1-5"):gsub("\n", "")
    include("top")
%>

<div class="box">
    <div class="main">
        <%include("application/menuer")%>

        <div class="content">
            <div class="title">
                <h3>定时重启</h3>
            </div>
            <div class="article" style="height:340px">
                <div class="set-content">
                    <div class="input-info">
                        <label style="float: left;margin-top: 22px;">启用</label>
                            <div id="onoff" class="switch open1" style="margin:17px 0 2px 36px">
                                <div class="slide open2"></div>
                            </div>
                        <div class="clean"></div>
                    </div>

                    <div class="input-info" style="margin-top:30px;">
                        <label class="autolabel">设定</label>
                        <input class="cron-reboot" value="<%=task%>" style="display:none;"/>
                    </div>

                    <hr id="hr2" style="padding-top:50px;margin-bottom:30px;border-bottom:1px solid #eee;width:610px;">
                    <div class="operate-btn">
                        <input type="button" value="保 存" class="s off" id="save"/>
                        <img class="save-loading" style="display:none;" src="<%=resource%>/images/loading.gif" alt=""/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="<%=resource%>/js/jqCron.js"></script>
<script type="text/javascript" src="<%=resource%>/js/jqCron.cn.js"></script>
<script type="text/javascript">
    var T_alert = new Toast();
        T_alert._css.lineHeight = "40px";

    var cron = $('.cron-reboot').jqCron().jqCronGetInstance();

    function switchButton(action) {
        if (action == "off") {
            $("#onoff").removeClass('open1');
            $("#onoff").addClass('close1');
            $("#onoff").children().removeClass('open2');
            $("#onoff").children().addClass('close2');
            $("#save").css("display", "none")

            cron.disable();
        } else {
            $("#onoff").removeClass('close1');
            $("#onoff").addClass('open1');
            $("#onoff").children().removeClass('close2');
            $("#onoff").children().addClass('open2');
            $("#save").css("display", "inline-block")

            cron.enable();
        }
    }

    function setTask(task) {
        loadSave("before", "save");

        $.ajax({
            url: '<%=luci.dispatcher.build_url("admin", "application", "autoReboot", "task")%>',
            cache: false,
            dataType: "json",
            data: {token: '<%=token%>',  task: task},
            timeout:20000,
            type: "POST",
            success: function(rsp) {
                if (rsp.code == 0) {
                    T_alert.show("保存成功！",2000);
                } else {
                    T_alert.show("保存失败！",2000);
                }
                loadSave("after", "save");
            },
            error: function(x){
                T_alert.show("保存错误！",2000);
                loadSave("after", "save");
            },
            ontimeout:function(){
                T_alert.show("保存超时！",2000);
                loadSave("after", "save");
            }
        });
    }

    $(function(){

        <%if task ~= "" then%>
        switchButton("on");
        <%else%>
        switchButton("off");
        <%end%>

        $("#onoff").click(function() {
            if ($(this).hasClass('open1')) {
                switchButton("off");
                // 提交关闭
                setTask(null);
            } else {
                switchButton("on");
            }
        });

        $("#save").click(function() {
            console.log($(".cron-reboot").val());
            var inputVal = $(".cron-reboot").val();
            setTask(inputVal);
        });
    })
</script>

<%include("bottom")%>
