<%
    local uci = require("luci.model.uci").cursor()
    local config = {}

    uci:foreach("xfrpc", "proxy",
        function(s)
            local t = {}
            t.sname = s[".name"]
            t.name = s.name
            t.type = s.type
            t.local_ip = s.local_ip
            t.local_port = s.local_port
            t.custom_domains = s.custom_domains

            table.insert(config, t)
        end
    )

    include("top")
%>

<div class="box">
<div class="main">

    <%include("application/menuer")%>
    
    <div class="content">
        <div class="title">
            <h3>内网映射</h3>
        </div>
        <div class="article">
                <div class="input-info">
                    <p style="margin-left:50px;margin-bottom:10px;color: #666;width:700px;line-height: 25px;">
                        本功能可为内网IP地址提供动态域名解析服务，设置只需指定内网主机的IP及服务端口, 互联网用户输入指定域名即可访问内网主机.
                        <span style="color:red">提示! 域名需要增加CNAME记录, 记录值请填写: xfrp.kunteng.org</span>
                    </p>
                </div>
                <hr style="padding-top:10px;margin-left:50px;margin-bottom:10px;border-bottom:1px solid #eee;width:700px;">
            <div class="section top">
                <table class="tab-list" style="margin-bottom:20px;">
                    <thead>
                    <tr>
                        <th class="portname-css">协议</th>
                        <th width="120px">主机</th>
                        <th width="70px">端口</th>
                        <th width="170px">域名</th>
                        <th width="80px">操作</th>
                    </tr>
                    </thead>
                    <style>
                        #frp_type{width:80px;height:30px;line-height:30px;border:1px solid #ddd;padding-left: 5px;}
                        #local_port,#custom_domains{height:30px;line-height:30px;border:1px solid #ddd;padding-left: 5px;}
                        #local_port{width:80px;}
                        #custom_domains{width:220px;padding-left: 5px;}
                    </style>
                    <tbody id="list_proxy">
                    <%for _, z in ipairs(config) do
                        if z.type == "http" or z.type == "https" then%>
                        <tr class="addedtr" name="proxy_<%=z.name%>">
                            <td class="portname-css"><%=z.type%></td><td><%=z.local_ip%></td><td><%=z.local_port%></td><td><a href="<%=z.type%>://<%=z.custom_domains%>" target="_blank"><%=z.custom_domains%></a></td><td><a class="fw_rule" href="javascript:;" data-sname="<%=z.name%>">删除</a></td>
                        </tr>
                        <%end
                    end%>
                        <tr class="tr">
                            <td>
                                <select id="frp_type">
                                    <option value="http">http</option>
                                    <option value="https">https</option>
                                </select>
                            </td>
                            <td style="position:relative;width:160px;height:50px;padding-right:15px;">
                                <span class="sel_span1 selwid110">
                                    <input id="local_ip" class="sel_inp mac" type="text" name="mac" value="">
                                </span>
                                <span class="sel_span2 selwid110 clip110">
                                    <select id="sel-hide" class="sel_select aabb sel_sel_wid130" name="aabb" onclick="simOptionClick4IE()">
                                    <option value="" onclick="showOptionValue( this )">自定义</option>
                                    <%luci.sys.net.ipv4_hints(function(ip, name)%>
                                        <option value="<%=ip%>" onclick="showOptionValue( this )"><%=ip%></option>
                                    <%end)%>
                                    </select>
                                </span>
                            </td>
                            <td>
                                <input id="local_port"/>
                            </td>
                            <td style="padding-left:15px;">
                                <input id="custom_domains"/>
                            </td>
                            <td>
                                <a href="javascript:;" class="addTr">添加</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="<%=resource%>/js/validators.js"></script>
<script type="text/javascript">
    var oHeight;
    var T_alert = new Toast();
    T_alert._css.lineHeight = "40px";
    
    // 删除行
    function delone(name){
//        var a=otr.parentNode.parentNode;
//        a.parentNode.removeChild(a);
        
        $.ajax({
            url: '<%=luci.dispatcher.build_url("admin", "application", "xfrpc", "delWebProxy")%>',
            cache: false,
            dataType: "json",
            data: {token: '<%=token%>', name:name},
            timeout:2000,
            type: "POST",
            success: function(rsp){
                if(rsp.code == 0){        
                    $('tr[name=proxy_'+ name +']').remove();
                    T_alert.show("删除成功",2000);
                }
                else{
                    T_alert.show("删除失败",2000);
                }
            },
            error: function(x){
                T_alert.show("删除失败, 请重试",2000);
            },
            ontimeout:function(){
                T_alert.show("删除失败, 请重试",2000);
            }
        });
    }

    function simOptionClick4IE() {
        var evt=window.event;
        var selectObj=evt?evt.srcElement:null;
        // IE Only
        if (evt && selectObj &&  evt.offsetY && evt.button!=2 && (evt.offsetY > selectObj.offsetHeight || evt.offsetY<0 ) ) {
            // 记录原先的选中项
            var oldIdx = selectObj.selectedIndex;
            setTimeout(function(){
                var option=selectObj.options[selectObj.selectedIndex];
                // 此时可以通过判断 oldIdx 是否等于 selectObj.selectedIndex
                // 来判断用户是不是点击了同一个选项,进而做不同的处理.
                $("#local_ip").val($(option).val());
            }, 60);
        }
    }

    function showOptionValue(opt) {
        $("#local_ip").val($(opt).val());
    }
    
    $(function () {
        $("#list_proxy").on("click", ".fw_rule", function(){
            var d = $(this).data('sname');
            delone(d);
        });

        $(".addTr").click(function(){
            var type = $("#frp_type").val();
            //var sname = type + ($("#list_proxy tr").length + 1);

            var ip = $("#local_ip").val();
            if (!validators.ipaddr(ip)) {
                T_alert.show("内网ip格式不正确！",2000);
                setTimeout(function () {$("#local_ip").focus();}, 0);
                return false;
            }
            var port = $("#local_port").val();
            if (!validators.port(port)) {
                T_alert.show("端口格式不正确！",2000);
                setTimeout(function () {$("#local_port").focus();}, 0);
                return false;
            }

            var domain = $("#custom_domains").val();
            if (domain == "") {
                T_alert.show("域名不能为空！",2000);
                setTimeout(function () {$("#custom_domains").focus();}, 0);
                return false;
            }

            $.ajax({
                url: '<%=luci.dispatcher.build_url("admin", "application", "xfrpc", "addWebProxy")%>',
                cache: false,
                dataType: "json",
                data: {token: '<%=token%>', ip:ip, type:type, port:port, domain:domain},
                timeout:10000,
                type: "POST",
                success: function(rsp){
                    if (rsp.code == 0){
                            var strTr = '<tr class="addedtr" name="proxy_'+ rsp.sname +'">'+
                                '<td class="portname-css">'+ type +'</td>'+
                                '<td>'+ ip +'</td>'+
                                '<td>'+ port +'</td>'+
                                '<td> <a href="' + type + '://'+ domain +'" target="_blank">' + domain +'</td>'+
                                '<td>'+
                                '<a class="fw_rule" href="javascript:;" data-sname="'+ rsp.sname +'">删除</a>'+
                                '</td>'+
                                '</tr>';
                            $(".tr").before(strTr);
                            $("#local_port").val("");
                            $("#custom_domains").val("");
                            $("#local_ip").val("");

                           //$("#sel-hide option[value='']").attr("selected", true);
                        T_alert.show("添加成功",2000);
                    } else if (rsp.code == 2) {
                        T_alert.show("域名已存在, 请更换域名或协议 ",2000);
                        setTimeout(function () {$("#custom_domains").focus();}, 0);
                    }
                },
                error: function(x){
                    T_alert.show("添加失败, 请重试")
                },
                ontimeout:function(){
                    T_alert.show("添加失败, 请重试")
                }
            });
            
            //$("#sel-hide").find("option[value='']").attr("selected",true);
        })
        
    });

</script>


<%include("bottom")%>
